@charset "utf-8";
/* html reset */
header, 
footer, 
section, 
article, 
nav, 
aside, 
main,
figure,
figcaption{
	display: block;
}
html,
body{
	min-height: 100%;
}
body{
	margin: 0;
	min-width: 320px;
}
body,table,button,input,textarea,select	{
	font-size: 14px;
}

/* All */
body{
	background: -webkit-linear-gradient(#ccc,#fff); 
	background: -moz-linear-gradient(#ccc,#fff); 
	background: -ms-linear-gradient(#ccc,#fff); 
	background: -o-linear-gradient(#ccc,#fff); 
	background: linear-gradient(#ccc,#fff); 
}
.header>h1{
	font-size: 28px;
	text-shadow:1px 1px 0 #fff;
}

.search>input{
	vertical-align: top;
	border-radius: 3px;
}
.search>[type="search"]{
	border: 1px solid #ccc;
	height: 32px;
	width: 160px;
	box-shadow: 0 0 4px #ccc inset;
}
.search>[type="submit"]{
	width: 50px;
	height: 32px;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 4px #aaa;
}
main,
.lnb,
.aside{
	margin-bottom: 15px;
	/*공통 스타일시트*/
}
main{
	background: #fff;
	box-shadow: 0 0 4px #999;
	box-shadow: 0 0 4px rgba(0,0,0,.3);
	border-radius: 8px;
	min-height: 300px;
}

.lnb ul,
.aside ul{
	margin: 0;
	padding: 0;
	list-style: none;

}
.lnb {
	text-shadow: 1px 1px 0 #333;

}
.lnb h2 {
	background: #666;
	border-radius: 4px 4px 0 0 ;
	font-size: 14px;
	color: #fff;
	padding: 0 10px;
	line-height: 32px;
	margin: 0;
	/* 수직마진중첩현상때문에 초기화 0 */
}
.lnb li{

	margin: 1px 0;

}



.lnb a{
	display: block;
	background: #777;
	padding: 0 10px;
	height: 32px;
	line-height: 34px;
	text-decoration: none;
	color: #fff;

	-webkit-transiton:.2s;
	-moz-transiton:.2s;
	-ms-transiton:.2s;
	-o-transiton:.2s;
	transiton:.2s;

}

.lnb :last-child>a{
	border-radius: 0 0 4px 4px;
}
.lnb a:hover,
.lnb a:focus{
	background: #555;

}
/*hover마우스 focus키보드*/

.aside{
	border:1px solid #ddd;
	border-radius: 4px;
	padding: 0 10px;
}
.aside h2{
	font-size: 14px;
	margin: 0;
	border-bottom:1px solid #ddd;
	line-height: 32px;
}
.aside ul{
	padding: 10px 0;
}
.aside a{
	display: block;
	line-height: 32px;
}
.footer{
	border-top: 1px dotted #ccc;
}
.footer>p{
	text-align: center;
	color: #959595;
}

/* Mobile */
.container {
	margin: 0 10px;

}
.skip{
	display: none;
}
.gnb>h2{
	height: 1px;
	/*화면낭독기에서 면적이 없으면 읽지않는다 읽히게 하기위해 height값을 넣어준다*/
	position: absolute;
	/*absolute를 주지않으면 height값의 영향을 받기때문에 absolute처리 해줘야한*/
	overflow: hidden;
	margin: 0px;
}
/* 크롬에서 command shift c 를 누르면 모바일모드*/
/* Tablet & Desktop */


.gnb>button{
	border: 0;
	background: #666;
	width: 40px;
	height: 36px;
	padding: 36px 0 0 0 ;

/*박스크기는 height+padding */
/*박스사이징 속성이 보더면 padding height값중 크기가 큰걸로 높이가 정해짐*/
	overflow: hidden;
/*padding 값에밀려서 글자가 보이지 않음 하지만 보이는 브라우저도 있어서 안전하게 하려면 hidden속성을 줘야햄*/
/*일반적인 패턴임 -height-padding-overflow*/



	border-radius: 2px;
	position: absolute;
	cursor: pointer;
	top: 15px;
	right: 10px;
}

.gnb>button:before{
	/*before는 한번만쓸수 있다*/
	content: "";
	/*아래 적은 것들은 빈공백에 적용된다*/
	position: absolute;
	/*position기준이 relative인 absoulte처리하면 부모요소를 기준으로 ofset기준을 설정한다*/
	top: 4px;
	left: 4px;
	width: 32px;
	height: 4px;
	border-top: 12px double #fff;
	border-bottom: 12px double #fff;
	/*command shifr d 라인복사*/
}

.gnb>ul{
	background: #666;
	border-radius: 4px;
	overflow: hidden;
	display: none;
	/*제이쿼리 자바스크립트 라이브러리중 하나 그 안에는 여러가지 기능이 들어가있는데*/
	/*자바스크립트를 잘모르는 디자이너나 개발자들도 쉽게 사용하게 쉽게한 템플릿모음*/

}
.gnb ul{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 32px;
	text-decoration: none;

}

.gnb a {
	display: block;
	background: #666;
	color: #fff;
	line-height: 32px;
	text-decoration: none;
	padding: 0 10px;
	

	white-space: nowrap;
	/*white space 줄바꿈 */
	text-overflow: ellipsis;
	/* ellipsis 말줄임 인라인 경우에는 적용되지 않는다*/
	overflow: hidden;
	/*세개가 세트 */

}


.gnb>ul>li>a{
	background: #444;
}
.gnb li li {
	border-top: 1px dotted $444;

}
/*>ul>li>ul>li{
	border-top: -> li li라고 쓴다*/
.gnb li li:first-child{
	border: 0;
}
.search {
	margin: 15px 0;
	padding: 0 60px 0 0 ;
	position: relative;
}
.search>[type="search"]	{
	display: block;	
	width: 100%;
}
.search>[type="submit"]{
	width: 50px;
	position: absolute;
	top: 0;
	right: 0;
}



@media (min-width:768px){
	

}

/* Tablet */
@media (min-width:768px) and (max-width:1024px){
	
}

/* Desktop */
@media (min-width:1025px){
	
}






